body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:32px;
}


#container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:grey;
    width:fit-content;
    padding:16px;
    border-radius: 8px;
}

#display{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:8px;
    background-color: white;
    border:solid;
    border-color:orange;
    padding: 16px 64px;
    width:100px;
    height:30px;
}

.buttons {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
}

.numbers {
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:8px;
}

.operator-column {
    display:flex;
    flex-direction:column;
    margin-top:27px;
    gap:8px;
}

button {
    width:45px;
    height:30px;
    background-color: darkgrey;
    color:white;
    border-radius:8px;
    border:solid;
    border-color:orange;
}

.zeroBtn {
    width:95px;
}

.operator {
    background-color: orange;
}

.numbers {
    gap:8px;
}